body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  padding: 20px;
}

input {
  margin-bottom: 10px;
}

.checkbox {
  min-width: 16px;
}

.container.tasks {
  padding-bottom: 10px;
}

.main {
  margin-left: 0px;
}

.btn-close-custom {
  min-width: 24px;
}

.task-completed {
  text-decoration: line-through;
  opacity: 0.75;
}

.empty-list {
  text-align: center;
  font-style: italic;
  color: #aaaaaa;
}

ul.task-list {
  padding: 0;
}

.error-toast {
  margin: 10px;
}

.error-toast-icon { margin-right: 5px;}

div.tasks {
  border:1px solid #dddddd;
  border-radius: 5px;
  box-shadow: #dddddd 5px 5px 10px
}